aiochclient[httpx-speedups]==2.4.0
aiofiles==23.1.0
aiohttp==3.8.4
brotli==1.0.9
brotli-asgi==1.4.0
dynaconf==3.1.12
elastic-apm==6.16.2
fastapi==0.98.0
infi.clickhouse_orm==2.1.3
inflection==0.5.1
loguru==0.7.0
PyYAML==6.0
requests==2.31.0
starlette_exporter==0.16.0
ua-parser==0.16.1
user-agents==2.2.0
uvicorn==0.22.0
