aiofiles==24.1.0
aiohttp==3.11.12
brotli==1.1.0
brotli-asgi==1.4.0
clickhouse-connect==0.8.14
dynaconf==3.2.6
elastic-apm==6.23.0
fastapi==0.115.6
inflection==0.5.1
json-repair==0.35.0
orjson==3.10.15
PyYAML==6.0.2
requests==2.32.3
SQLAlchemy==2.0.37
starlette_exporter==0.23.0
structlog==25.1.0
ua-parser==1.0.0
user-agents==2.2.0
uvicorn==0.34.0
