aiochclient[httpx-speedups]==2.6.0
aiofiles==24.1.0
aiohttp==3.10.2
brotli==1.1.0
brotli-asgi==1.4.0
dynaconf==3.2.6
elastic-apm==6.22.3
fastapi==0.111.1
infi.clickhouse_orm==2.1.3
inflection==0.5.1
loguru==0.7.2
orjson==3.10.6
PyYAML==6.0.1
requests==2.32.3
starlette_exporter==0.23.0
ua-parser==0.18.0
user-agents==2.2.0
uvicorn==0.30.3
